#Root
assets/
css/
js/
images/
src/
themes/
vendor/
index.php
.htaccess
compose.lock
#protected
protected/components
protected/config
protected/data
protected/extensions
protected/messages
protected/migrations
protected/tests
protected/runtime
protected/vendor
protected/.htaccess
protected/yiic
protected/yiic.bat
protected/yiic.php
#docker
docker
#variables
.env
#favicon
favicon.ico